	
<div class="form-toggle-moments">
<h3>Moments</h3>
	<% if current_user.moments_on %>
			<input class ="toggle toggle-right" type="checkbox" name="my-checkbox" checked>
	<% else %>
	<input class="toggle toggle-right" type="checkbox" name="my-checkbox">
	<% end %>
</div>
