<div class="nav-offset-container">
	<div class= "time-setup">
		<%=form_tag('/users/time', method: 'POST') do |f| %>
	    <input type="time" name="start_time">
	    <input type="time" name="end_time">
	    <button type="submit">Submit</button>
		<% end %>
	 </div>   
</div>
