@import "globals/all";

.form {
	background: $form-background-color;
	border: #d8d8d8 solid 1px;
	padding: 20px;
	margin: 20px 0px;
	border-radius: 5px;
	box-shadow: 0 2px 2px -2px rgba(0,0,0,0.4);

}

.form-message-label {
	color: $dark-gray;
}

.drop-shadow {
    background: #9479fa;
}
 
.drop-shadow.top {
    box-shadow: 0 -4px 2px -2px rgba(0,0,0,0.4)
}
 
.drop-shadow.right {
    box-shadow: 4px 0 2px -2px rgba(0,0,0,0.4)
}
 
.drop-shadow.bottom {
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4)
}
 
.drop-shadow.left {
    box-shadow: -4px 0 2px -2px rgba(0,0,0,0.4)
}