$green: #81b900;
$bright-green: #96d600;
$light-gray: #F2F1EF;
$dark-gray: #88898c;
$thunderbird-red: #D91E18;
$thunderbird-bright-red: #FF0000;
$orange: #F9690E;
$dark-orange: #D35400;

// Theme Colors

$highlight-color: $dark-orange;
$highlight-border-color: $dark-orange;
$highlight-hover-color: $orange;
$highlight-hover-border-color: $orange;
$form-background-color: whitesmoke;
$form-border-color: $light-gray;
//

.time-form-highlight {
	color: $highlight-color;
	font-size: 1.4em;
	font-weight: bold;

}
.form-label {
	color: $dark-gray;
}

.form-time-label {
	color: $dark-gray;
}

.user-start_time-errors, .user-end_time-errors {
	margin: 0px 0px 8px 0px;
	display: none;
}


@media screen and (device-aspect-ratio: 40/71) {

	.form {
		text-align: center;
		padding: 5px;
		margin: 7px;
	}

	.form-time {
		min-height: 210px;
	}

	.form-label {
		font-size: 1em;
		padding: 5px;
	}

	label {
		margin-bottom: 3px !important;
	}

	.button-large {
		font-size: 14px !important;
		margin: 15px 0px 4px 0px;
	}

}

@media screen and (device-aspect-ratio: 2/3) {

	.form-label {
		font-size: .95em;
		padding: 4px;
	}

		.form {
		text-align: center;
		margin: 5px;
		padding: 5px;
	}

	label {
			margin-bottom: 3px !important;
		}

	.button-large {
			padding: 8px 10px !important;
			font-size: 14px !important;
			margin: 6px 0px;
	}

}

@media only screen
and (min-device-width : 320px) 
and (max-device-width : 480px) { 

	.form {
		text-align: center;
		margin: 11px 5px;
		padding: 5px;
	}

	.form-label {
		font-size: 1.1em;
		padding: 4px;
	}

	label {
			// margin-bottom: 3px !important;
		}

	.button-large {
			// padding: 8px 10px !important;
			// font-size: 14px !important;
			margin: 14px 0px;
	}
 
} 
