
.l-header-fixed {
	background-color: rgba(0,0,0,0.75);
    color:#ffffff;
    border-radius:0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    color: white;
    font-size: 1.5em;
}

#maincontent {
  margin-top: 50px;
}

