
#nav-menu {
  background-color: rgba(0,0,0,0.75);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  color: white;
  font-size: 1.5em;
}

#logo {
  display: inline-block;
  width: 40%;
}

#logo  h3{
 margin-top: 8px;
}

#sign-in {
  display: inline-block;
  float: right;
  width: 40%;
  text-align: right;
}

#nav-menu a {
  color: white;
}

#nav-menu a:hover {
  text-decoration: none;
}

#nav-menu a:visited{
  color: white;
}

.nav-offset-container {
  margin-top: 50px;
}